
*{
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    
}

ul {
    margin:0;
    padding: 0;
    margin-left: auto;

    }
    
    li {
    list-style: none; 
    margin: 0px;
    display: inline;
    }

    li a {
        padding: 5px 10px; 
        margin:0;
        border: 0px solid #f00; 
        background: #903;
        text-decoration: none;
        color:#FFF;
        
        /* cantos arredondados */
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:10px;
        }
        li a:hover {
        background: #CCC;
        color: #000; 
        border-color: #000;
        }
    
